#container{
    background-color: var(--background);
    z-index: -2;
}

.ball{
    width: 50rem;
    height: 50rem;
    background: var(--ball);
    clip-path: circle();

    opacity: 0.5;

    position: fixed;
    z-index: -1;
}

.ball.right{
    right: -230rem;
    top: -80rem;

    width: 250rem;
    height: 250rem;
}

.ball.left{
    left: -170rem;
    top: -80rem;

    width: 250rem;
    height: 250rem;
}